page-addFlame {
  ion-content {

    #scanButton {
      padding: 30px;
    }

    ion-thumbnail {
      margin: 30px auto;
      max-width: 75%;
    }

    #pictureButtons {
      margin: 10px auto;
      text-align: center;
    }
  }
}
